<div class="container">
  <h1>New video</h1>

  <%= form_for @video do |f| %>
    <%= render 'shared/errors', object: @video %>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', required: true %>
      <span class="help-block">A link to the video on YouTube.</span>
    </div>
    <div class="form-group">
      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class: "form-control"})%>
      <span class="help-block">Select a video category.</span>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>